In [1]:
import os
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'app.py',
 'files',
 'Loading_Data.ipynb',
 'pandas_basics.ipynb']

In [5]:
import pandas

df1 = pandas.read_csv('files/supermarkets.csv')
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df1.set_index('Address')

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [8]:
import geopy
dir(geopy)

['ArcGIS',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeFarm',
 'GeocoderDotUS',
 'GoogleV3',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'NaviData',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Photon',
 'Point',
 'What3Words',
 'YahooPlaceFinder',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']